LOSCFG_PRODUCT_HISPARK_TAURUS=y
LOSCFG_BOARD_CONFIG_PATH="device/board/hisilicon/hispark_taurus/liteos_a/board"
LOSCFG_TEE_ENABLE=y
LOSCFG_STORAGE_EMMC=y
LOSCFG_HIDUMPER=y
LOSCFG_KERNEL_SMP=y
LOSCFG_KERNEL_SMP_TASK_SYNC=y
LOSCFG_ASLR=y
LOSCFG_KERNEL_VDSO=y
LOSCFG_FS_VFS_BLOCK_DEVICE=y
LOSCFG_FS_FAT_VIRTUAL_PARTITION=y
LOSCFG_ENABLE_OOM_LOOP_TASK=y
LOSCFG_DEBUG_VERSION=y
# LOSCFG_SHELL is not set
LOSCFG_DRIVERS_USB_HOST_XHCI=y
LOSCFG_DRIVERS_USB_ETHERNET=y
LOSCFG_DRIVERS_USB_WIRELESS=y
LOSCFG_DRIVERS_USB_HID_CLASS=y
LOSCFG_DRIVERS_HDF=y
LOSCFG_DRIVERS_HDF_PLATFORM=y
LOSCFG_DRIVERS_HDF_PLATFORM_GPIO=y
LOSCFG_DRIVERS_HDF_PLATFORM_PIN=y
LOSCFG_DRIVERS_HDF_PLATFORM_I2C=y
LOSCFG_DRIVERS_HDF_PLATFORM_ADC=y
LOSCFG_DRIVERS_HDF_PLATFORM_DAC=y
LOSCFG_DRIVERS_HDF_PLATFORM_I3C=y
LOSCFG_DRIVERS_HDF_PLATFORM_MMC=y
LOSCFG_DRIVERS_HDF_PLATFORM_EMMC=y
LOSCFG_DRIVERS_HDF_PLATFORM_PWM=y
LOSCFG_DRIVERS_HDF_PLATFORM_RTC=y
LOSCFG_DRIVERS_HDF_PLATFORM_SDIO=y
LOSCFG_DRIVERS_HDF_PLATFORM_MIPI_DSI=y
LOSCFG_DRIVERS_HDF_PLATFORM_MIPI_CSI=y
LOSCFG_DRIVERS_HDF_PLATFORM_HISI_SDK=y
LOSCFG_DRIVERS_HDF_PLATFORM_SPI=y
LOSCFG_DRIVERS_HDF_PLATFORM_I2S=y
LOSCFG_DRIVERS_HDF_PLATFORM_REGULATOR=y
LOSCFG_DRIVERS_HDF_PLATFORM_HDMI=y
LOSCFG_DRIVERS_HDF_PLATFORM_PCIE=y
LOSCFG_DRIVERS_HDF_PLATFORM_WATCHDOG=y
LOSCFG_DRIVERS_HDF_PLATFORM_TIMER=y
LOSCFG_DRIVERS_HDF_PLATFORM_TRACE=y
LOSCFG_DRIVERS_HDF_PLATFORM_DUMPER=y
#LOSCFG_DRIVERS_HDF_PLATFORM_DUMPER_PRINT is not set
#LOSCFG_DRIVERS_HDF_PLATFORM_DUMPER_WRITE is not set
LOSCFG_DRIVERS_HDF_WIFI=y
LOSCFG_DRIVERS_HDF_NETWORK=y
LOSCFG_DRIVERS_HDF_WIFI_BUS=y
LOSCFG_DRIVERS_HDF_USB=y
LOSCFG_DRIVERS_HDF_DISP=y
LOSCFG_DRIVERS_HDF_LCD_ICN9700=y
LOSCFG_DRIVERS_HDF_INPUT=y
LOSCFG_DRIVERS_HDF_USB_DDK_DEVICE=y
LOSCFG_DRIVERS_HDF_USB_COMPOSITE=y
LOSCFG_DRIVERS_USB3_DEVICE_CONTROLLER=y
LOSCFG_DRIVERS_HDF_USB_DEVICE_DEMO_TEST=y
LOSCFG_DRIVERS_HDF_USB_DDK_HOST=y
LOSCFG_DRIVERS_HDF_USB_PNP_NOTIFY=y
LOSCFG_DRIVERS_HDF_USB_HOST_DEMO_TEST=y
LOSCFG_DRIVERS_HDF_TP_5P5_GT911=y
LOSCFG_DRIVERS_HDF_SENSOR=y
# LOSCFG_DRIVERS_HDF_SENSOR_ACCEL is not set
# LOSCFG_DRIVERS_HDF_SENSOR_ACCEL_BMI160 is not set
# LOSCFG_DRIVERS_HDF_SENSOR_ALS is not set
# LOSCFG_DRIVERS_HDF_SENSOR_ALS_BH1745 is not set
# LOSCFG_DRIVERS_HDF_SENSOR_BAROMETER is not set
# LOSCFG_DRIVERS_HDF_SENSOR_BAROMETER_BMP180 is not set
# LOSCFG_DRIVERS_HDF_SENSOR_PROXIMITY is not set
# LOSCFG_DRIVERS_HDF_SENSOR_PROXIMITY_APDS9960 is not set
# LOSCFG_DRIVERS_HDF_SENSOR_GYRO is not set
# LOSCFG_DRIVERS_HDF_SENSOR_GYRO_BMI160 is not set
# LOSCFG_DRIVERS_HDF_SENSOR_HALL is not set
# LOSCFG_DRIVERS_HDF_SENSOR_HALL_AK8789 is not set
# LOSCFG_DRIVERS_HDF_SENSOR_MAGNETIC is not set
# LOSCFG_DRIVERS_HDF_SENSOR_MAGNETIC_LSM303 is not set
# LOSCFG_DRIVERS_HDF_SENSOR_GRAVITY is not set
LOSCFG_DRIVERS_HDF_STORAGE=y
LOSCFG_DRIVERS_HDF_DSOFTBUS=y
LOSCFG_DSOFTBUS_WLAN_PARAM_MONITOR=y
LOSCFG_DSOFTBUS_LWIP_MONITOR=y
LOSCFG_DRIVERS_HDF_LIGHT=y
LOSCFG_DRIVERS_HDF_VIBRATOR=y
LOSCFG_DRIVERS_HDF_VIBRATOR_LINEAR=y
LOSCFG_DRIVERS_SD=y
LOSCFG_DRIVERS_EMMC=y
LOSCFG_DRIVERS_HI3881=y
LOSCFG_DRIVERS_TZDRIVER=y
LOSCFG_DRIVERS_HIEVENT=y
LOSCFG_DRIVERS_HDF_AUDIO=y
LOSCFG_DRIVERS_HDF_AUDIO_CODEC_HI3516=y
LOSCFG_DRIVERS_HDF_AUDIO_CODEC_TF9879=y
